.hidden {
  visibility: hidden;
}

.btn {
  position: relative;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: white;
  background: rgb(249, 129, 0);
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
}

.small {
  padding: 4px 6px;
  font-size: 12px;
}
.medium {
  padding: 6px 8px;
  font-size: 14px;
}
.large {
  padding: 8px 12px;
  font-size: 16px;
}

.bordered {
  border: 1px solid #3498db;
}

.rounded {
  border-radius: 9999px;
}

.primary {
  background: #3498db;
  color: #fff;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 4px solid #f3f3f3; /* nền xám */
  border-top: 4px solid #3498db; /* màu xanh xoay */
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    opacity: 0.5;
  }
}
